@import "tailwindcss";

@theme {
  --color-primary: #0d9488; /* Teal-600: Warna Trust & Success */
  --color-primary-dark: #0f766e;
  --color-secondary: #f0fdfa;
  --font-sans: 'Inter', system-ui, sans-serif;
  
  --animate-fade-in: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Base Styles */
html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-50 text-slate-800 antialiased;
}

/* Utilities for hiding scrollbar in testimonials but keeping functionality */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}